<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:layoutDirection="locale"
        android:theme="@style/Theme.Bosla">
    <meta-data
            android:name="com.mapbox.maps.token"
            android:value="pk.eyJ1IjoibmF4dXMiLCJhIjoiY21mOGRsOWpsMTBxMTJpcXMyOGZrYnhlNSJ9.jqc2quB65_hVUxEHlv0lzA" />
        <service
            android:name=".utils.Forceground"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync|location" />

        <receiver
            android:name=".utils.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:label="Bosla"
            android:theme="@style/Theme.Bosla.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".OTPLoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".LauncherActivity$QRScannerActivity" />
        <activity android:name=".SlideActivity"/>
    </application>

</manifest>
