@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(77, 77, 77, 1) transparent;
}

::selection {
  background: rgba(26, 26, 26, .1);
  color: rgba(26, 26, 26, 1);
}

@font-face {
  font-family: 'Cairo';
  src: url('./fonts/Cairo-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 100 900;
  /* كل الأوزان متاحة */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Changa';
  src: url('./fonts/Changa-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  /* كل الأوزان متاحة */
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}